body{
    background-color: blueviolet;
    margin: 0px;
    padding: 0px;

}
.container{
   text-align: center;


}
.logo{
    height: 20vh;
    width: 20vw;
}
.players-section{
    display: flex;
}







.box-row{
    display: flex;
}
.individual-box{
    background-color:aliceblue;
    height: 17vh;
    width:8vw;
    margin: 0.5vh;
    border-radius: 15%;
}
